# Time series datasets

In [ ]:
import pandas as pd
import numpy as np

## UCI

### Heterogeneity Activity Recognition

https://archive.ics.uci.edu/ml/datasets/Heterogeneity+Activity+Recognition

In [ ]:
#phones_accelerometer
data_path = 'Phones_accelerometer.csv'
phones_accelerometer = pd.read_csv(data_path)

In [ ]:
phones_accelerometer.head()

,Index,Arrival_Time,Creation_Time,x,y,z,User,Model,Device,gt
0,0,1424696633908,1.424697e+18,-5.958191,0.688065,8.135345,a,nexus4,nexus4_1,stand
1,1,1424696633909,1.424697e+18,-5.952240,0.670212,8.136536,a,nexus4,nexus4_1,stand
2,2,1424696633918,1.424697e+18,-5.995087,0.653549,8.204376,a,nexus4,nexus4_1,stand
3,3,1424696633919,1.424697e+18,-5.942718,0.676163,8.128204,a,nexus4,nexus4_1,stand
4,4,1424696633929,1.424697e+18,-5.991516,0.641647,8.135345,a,nexus4,nexus4_1,stand

In [ ]:
phones_accelerometer = phones_accelerometer.dropna()
phones_accelerometer.isnull().sum().sum()

0

In [ ]:
phones_accelerometer = phones_accelerometer.iloc[:,3:6]
phones_accelerometer.head()

          x         y         z
0 -5.958191  0.688065  8.135345
1 -5.952240  0.670212  8.136536
2 -5.995087  0.653549  8.204376
3 -5.942718  0.676163  8.128204
4 -5.991516  0.641647  8.135345

In [ ]:
phones_accelerometer.describe()

                   x              y              z
count  470786.000000  470786.000000  470786.000000
mean       -4.239772       0.105989       8.581140
std         3.225976       1.175286       1.980257
min       -20.554626      -9.225739       0.781189
25%        -6.115295      -0.624268       7.607895
50%        -5.262955       0.085083       8.268646
75%         0.194004       0.614716       9.885910
max         3.282410      13.986450      23.507782

In [ ]:
np_phones_accelerometer = phones_accelerometer.to_numpy()
print(np_phones_accelerometer.shape)
np.save('phones_accelerometer', np_phones_accelerometer)

(11279275, 3)

In [ ]:
#phone gyroscope

data_path = 'Phones_gyroscope.csv'
phones_gyroscope = pd.read_csv(data_path)

In [ ]:
phones_gyroscope.head()

,Index,Arrival_Time,Creation_Time,x,y,z,User,Model,Device,gt
0,0,1424696633909,1424696631914042029,0.013748,-0.000626,-0.023376,a,nexus4,nexus4_1,stand
1,1,1424696633909,1424696631919046912,0.014816,-0.001694,-0.022308,a,nexus4,nexus4_1,stand
2,2,1424696633918,1424696631924051794,0.015884,-0.001694,-0.021240,a,nexus4,nexus4_1,stand
3,3,1424696633919,1424696631929117712,0.016953,-0.003830,-0.020172,a,nexus4,nexus4_1,stand
4,4,1424696633928,1424696631934214148,0.015884,-0.007034,-0.020172,a,nexus4,nexus4_1,stand

In [ ]:
phones_gyroscope = phones_gyroscope.dropna()
phones_gyroscope.isnull().sum().sum()

0

In [ ]:
phones_gyroscope = phones_gyroscope.iloc[:,3:6]
phones_gyroscope.head()

          x         y         z
0  0.013748 -0.000626 -0.023376
1  0.014816 -0.001694 -0.022308
2  0.015884 -0.001694 -0.021240
3  0.016953 -0.003830 -0.020172
4  0.015884 -0.007034 -0.020172

In [ ]:
np_phones_gyroscope = phones_gyroscope.to_numpy()
print(np_phones_gyroscope.shape)
np.save('phones_gyroscope', np_phones_gyroscope)

(537945, 3)

In [ ]:
#watch gyroscope

data_path = 'Watch_gyroscope.csv'
watch_gyroscope = pd.read_csv(data_path)

In [ ]:
watch_gyroscope.head()

,Index,Arrival_Time,Creation_Time,x,y,z,User,Model,Device,gt
0,0,1424696638743,27920678496000,-0.162187,-0.022104,0.059655,a,gear,gear_1,stand
1,1,1424696638743,27920681926000,-0.183225,-0.061785,0.012517,a,gear,gear_1,stand
2,2,1424696638743,27920692031000,-0.180829,-0.108657,-0.036485,a,gear,gear_1,stand
3,3,1424696638743,27920701997000,-0.147805,-0.157925,-0.098537,a,gear,gear_1,stand
4,7,1424696638744,27920743068000,0.182160,-0.323574,-0.277235,a,gear,gear_1,stand

In [ ]:
watch_gyroscope = watch_gyroscope.dropna()
watch_gyroscope.isnull().sum().sum()

0

In [ ]:
watch_gyroscope = watch_gyroscope.iloc[:,3:6]
watch_gyroscope.head()

          x         y         z
0 -0.162187 -0.022104  0.059655
1 -0.183225 -0.061785  0.012517
2 -0.180829 -0.108657 -0.036485
3 -0.147805 -0.157925 -0.098537
4  0.182160 -0.323574 -0.277235

In [ ]:
np_watch_gyroscope = watch_gyroscope.to_numpy()
print(np_watch_gyroscope.shape)
np.save('watch_gyroscope', np_watch_gyroscope)

(2735002, 3)

In [ ]:
#watch_accelerometer
data_path = 'Watch_accelerometer.csv'
watch_accelerometer = pd.read_csv(data_path)

In [ ]:
watch_accelerometer.head()

,,,610672,-0.7247009,2.5009613,a,lgwatch,lgwatch_1,stand
6032,1424696663718,207847326851874,-9.551163,-0.708038,2.529526,a,lgwatch,lgwatch_1,stand
6033,1424696663723,207847331795721,-9.563065,-0.758026,2.479538,a,lgwatch,lgwatch_1,stand
6034,1424696663727,207847336739569,-9.517838,-0.767548,2.539047,a,lgwatch,lgwatch_1,stand
6035,1424696663733,207847341683416,-9.484512,-0.755646,2.491440,a,lgwatch,lgwatch_1,stand
6036,1424696663737,207847346627264,-9.505936,-0.822296,2.574753,a,lgwatch,lgwatch_1,stand

In [ ]:
watch_accelerometer = watch_accelerometer.dropna()
watch_accelerometer.isnull().sum().sum()

0

In [ ]:
watch_accelerometer = watch_accelerometer.iloc[:,:3]
watch_accelerometer.head()

                                      610672  -0.7247009  2.5009613
6032 1424696663718 207847326851874 -9.551163   -0.708038   2.529526
6033 1424696663723 207847331795721 -9.563065   -0.758026   2.479538
6034 1424696663727 207847336739569 -9.517838   -0.767548   2.539047
6035 1424696663733 207847341683416 -9.484512   -0.755646   2.491440
6036 1424696663737 207847346627264 -9.505936   -0.822296   2.574753

In [ ]:
np_watch_accelerometer = watch_accelerometer.to_numpy()
print(np_watch_accelerometer.shape)
np.save('watch_accelerometer', np_watch_accelerometer)

(3492352, 3)

### Sensor HT

https://archive.ics.uci.edu/ml/datasets/Gas+sensors+for+home+activity+monitoring

In [ ]:
#gas sensors for home

sensor_ht = pd.read_table('HT_Sensor_dataset.dat', sep="\s+")
sensor_ht.head()

,id,time,R1,R2,R3,R4,R5,R6,R7,R8,Temp.,Humidity
0,0,-0.999750,12.8621,10.3683,10.4383,11.6699,13.4931,13.3423,8.04169,8.73901,26.2257,59.0528
1,0,-0.999472,12.8617,10.3682,10.4375,11.6697,13.4927,13.3412,8.04133,8.73908,26.2308,59.0299
2,0,-0.999194,12.8607,10.3686,10.4370,11.6696,13.4924,13.3405,8.04101,8.73915,26.2365,59.0093
3,0,-0.998916,12.8602,10.3686,10.4370,11.6697,13.4921,13.3398,8.04086,8.73936,26.2416,58.9905
4,0,-0.998627,12.8595,10.3688,10.4374,11.6699,13.4919,13.3390,8.04087,8.73986,26.2462,58.9736

In [ ]:
sensor_ht.describe()

,id,time,R1,R2,R3,R4,R5,R6,R7,R8,Temp.,Humidity
count,928991.000000,928991.000000,928991.000000,928991.000000,928991.000000,928991.000000,928991.000000,928991.000000,928991.000000,928991.000000,928991.000000,928991.000000
mean,49.256372,0.403261,12.185350,8.958396,8.945006,10.130319,15.154167,16.052371,5.390618,5.912815,27.283373,57.568023
std,28.453089,0.859865,0.868116,1.558196,1.748622,1.711879,18.391606,3.303089,2.889244,3.304284,0.904537,4.821784
min,0.000000,-0.999999,5.431460,1.820660,1.626900,2.282920,1.901290,5.587950,1.220370,1.430530,24.434400,44.660400
25%,25.000000,-0.320817,11.980000,8.298835,8.273455,9.347275,10.244600,14.780400,4.430490,4.877900,26.764900,53.938100
50%,49.000000,0.366136,12.404700,9.462680,9.564520,10.651800,11.683500,16.521200,5.389800,5.799340,27.328400,57.180800
75%,73.000000,1.055152,12.715500,10.095900,10.207900,11.400000,13.784400,17.353100,5.989300,6.585930,27.868700,60.563500
max,99.000000,3.309882,13.733300,11.315500,11.374200,12.754800,378.750000,73.817800,102.575000,99.888100,30.325400,77.680500

In [ ]:
sensor_ht = sensor_ht.dropna()
sensor_ht.isnull().sum().sum()

0

In [ ]:
sensor_ht = sensor_ht.iloc[:,2:]
sensor_ht.head()

,R1,R2,R3,R4,R5,R6,R7,R8,Temp.,Humidity
0,12.8621,10.3683,10.4383,11.6699,13.4931,13.3423,8.04169,8.73901,26.2257,59.0528
1,12.8617,10.3682,10.4375,11.6697,13.4927,13.3412,8.04133,8.73908,26.2308,59.0299
2,12.8607,10.3686,10.4370,11.6696,13.4924,13.3405,8.04101,8.73915,26.2365,59.0093
3,12.8602,10.3686,10.4370,11.6697,13.4921,13.3398,8.04086,8.73936,26.2416,58.9905
4,12.8595,10.3688,10.4374,11.6699,13.4919,13.3390,8.04087,8.73986,26.2462,58.9736

In [ ]:
sensor_ht.describe()

,R1,R2,R3,R4,R5,R6,R7,R8,Temp.,Humidity
count,928991.000000,928991.000000,928991.000000,928991.000000,928991.000000,928991.000000,928991.000000,928991.000000,928991.000000,928991.000000
mean,12.185350,8.958396,8.945006,10.130319,15.154167,16.052371,5.390618,5.912815,27.283373,57.568023
std,0.868116,1.558196,1.748622,1.711879,18.391606,3.303089,2.889244,3.304284,0.904537,4.821784
min,5.431460,1.820660,1.626900,2.282920,1.901290,5.587950,1.220370,1.430530,24.434400,44.660400
25%,11.980000,8.298835,8.273455,9.347275,10.244600,14.780400,4.430490,4.877900,26.764900,53.938100
50%,12.404700,9.462680,9.564520,10.651800,11.683500,16.521200,5.389800,5.799340,27.328400,57.180800
75%,12.715500,10.095900,10.207900,11.400000,13.784400,17.353100,5.989300,6.585930,27.868700,60.563500
max,13.733300,11.315500,11.374200,12.754800,378.750000,73.817800,102.575000,99.888100,30.325400,77.680500

In [ ]:
np_sensor_ht = sensor_ht.to_numpy()
print(np_sensor_ht.shape)
np.save('sensor_ht', np_sensor_ht)

(928991, 8)

### Gas sensor array

https://archive.ics.uci.edu/ml/datasets/Gas+sensor+array+temperature+modulation

In [ ]:
data_path = 'gas_1.csv'
gas_1 = pd.read_csv(data_path)

In [ ]:
gas_1.head()

,Time (s),CO (ppm),Humidity (%r.h.),Temperature (C),Flow rate (mL/min),Heater voltage (V),R1 (MOhm),R2 (MOhm),R3 (MOhm),R4 (MOhm),R5 (MOhm),R6 (MOhm),R7 (MOhm),R8 (MOhm),R9 (MOhm),R10 (MOhm),R11 (MOhm),R12 (MOhm),R13 (MOhm),R14 (MOhm)
0,0.000,0.0,49.7534,23.7184,233.2737,0.8993,0.2231,0.6365,1.1493,0.8483,1.2534,1.4449,1.9906,1.3303,1.4480,1.9148,3.4651,5.2144,6.5806,8.6385
1,0.309,0.0,55.8400,26.6200,241.6323,0.2112,2.1314,5.3552,9.7569,6.3188,9.4472,10.5769,13.6317,21.9829,16.1902,24.2780,31.1014,34.7193,31.7505,41.9167
2,0.618,0.0,55.8400,26.6200,241.3888,0.2070,10.5318,22.5612,37.2635,17.7848,33.0704,36.3160,42.5746,49.7495,31.7533,57.7289,53.6275,56.9212,47.8255,62.9436
3,0.926,0.0,55.8400,26.6200,241.1461,0.2042,29.5749,49.5111,65.6318,26.1447,58.3847,67.5130,68.0064,59.2824,36.7821,66.0832,66.8349,66.9695,50.3730,64.8363
4,1.234,0.0,55.8400,26.6200,240.9121,0.2030,49.5111,67.0368,77.8317,27.9625,71.7732,79.9474,79.8631,62.5385,39.6271,68.1441,62.0947,49.4614,52.8453,66.8445

In [ ]:
gas_1.tail()

,Time (s),CO (ppm),Humidity (%r.h.),Temperature (C),Flow rate (mL/min),Heater voltage (V),R1 (MOhm),R2 (MOhm),R3 (MOhm),R4 (MOhm),R5 (MOhm),R6 (MOhm),R7 (MOhm),R8 (MOhm),R9 (MOhm),R10 (MOhm),R11 (MOhm),R12 (MOhm),R13 (MOhm),R14 (MOhm)
295714,90908.545,0.0,62.3,26.58,0.0,0.2,5.5429,2.5713,10.3815,18.5796,36.4589,34.4549,38.3745,57.5888,45.7953,56.6351,56.4058,50.6129,43.0232,65.2822
295715,90908.853,0.0,62.3,26.58,0.0,0.2,4.5527,2.1454,8.5494,18.0592,36.6290,34.0052,37.6964,51.9752,45.0239,58.9374,61.6173,50.9361,43.4604,63.8761
295716,90909.162,0.0,62.3,26.58,0.0,0.2,3.7374,1.8492,7.1062,18.0087,36.0127,32.5056,37.1882,54.4724,45.0239,59.7462,57.1452,51.8182,42.5944,64.3090
295717,90909.469,0.0,62.3,26.58,0.0,0.2,3.1197,1.6190,5.9138,17.6950,37.5930,30.5253,35.9328,51.9752,45.5201,57.7289,60.3791,50.3466,42.4022,62.0375
295718,90909.778,0.0,62.3,26.58,0.0,0.2,2.6417,1.4409,4.9396,17.0448,35.1252,29.4024,35.2025,58.0412,43.1405,58.1498,56.0760,51.5393,41.9854,47.5339

In [ ]:
gas_1 = gas_1.drop(['Time (s)'], axis = 1)

In [ ]:
gas_1.describe()

,CO (ppm),Humidity (%r.h.),Temperature (C),Flow rate (mL/min),Heater voltage (V),R1 (MOhm),R2 (MOhm),R3 (MOhm),R4 (MOhm),R5 (MOhm),R6 (MOhm),R7 (MOhm),R8 (MOhm),R9 (MOhm),R10 (MOhm),R11 (MOhm),R12 (MOhm),R13 (MOhm),R14 (MOhm)
count,295719.000000,295719.000000,295719.000000,295719.000000,295719.000000,295719.000000,295719.000000,295719.000000,295719.000000,295719.000000,295719.000000,295719.000000,295719.000000,295719.000000,295719.000000,295719.000000,295719.000000,295719.000000,295719.000000
mean,9.900786,45.966022,26.476381,239.942669,0.355293,14.962249,17.396103,22.233080,18.429670,31.054371,28.773424,31.675358,25.705773,21.295420,25.224047,27.087685,24.833538,21.742677,27.978418
std,6.429229,12.315889,0.211647,1.947498,0.288663,22.368187,26.648398,28.695365,15.210454,26.675759,27.238787,27.594177,18.652030,16.050916,20.224830,20.191156,18.278996,16.783496,21.642733
min,0.000000,17.500000,23.718400,0.000000,0.199000,0.031500,0.056000,0.054000,0.040200,0.048900,0.048500,0.053400,0.033000,0.029200,0.036600,0.031000,0.032700,0.033000,0.031400
25%,4.440000,36.170000,26.300000,239.895800,0.200000,0.404800,0.484100,0.586300,2.068300,1.785200,1.582800,1.884400,11.291500,8.375700,7.448500,10.255300,9.384700,7.514900,9.499800
50%,8.890000,46.670000,26.460000,239.972900,0.200000,1.644100,1.356100,4.055400,18.579600,32.317000,22.990300,31.405400,25.808100,20.664100,23.121100,26.853300,24.903000,20.661400,26.279500
75%,15.560000,55.330000,26.620000,240.046200,0.207000,25.159500,28.860100,45.099400,29.209800,50.562000,49.605500,52.417400,39.041300,32.778100,39.319400,41.334400,38.116600,33.397600,43.436200
max,20.000000,71.960000,26.940000,275.180300,0.901000,113.486800,154.629000,182.343300,91.822600,124.194900,138.201900,151.012000,102.826500,84.987700,134.999000,108.852100,90.289400,75.413500,108.663300

In [ ]:
np_gas_1 = gas_1.to_numpy()
print(np_gas_1.shape)
np.save('gas_1', np_gas_1)

(295719, 19)

In [ ]:
data_path = 'gas_2.csv'
gas_2 = pd.read_csv(data_path)

In [ ]:
gas_2.head()

,Time (s),CO (ppm),Humidity (%r.h.),Temperature (C),Flow rate (mL/min),Heater voltage (V),R1 (MOhm),R2 (MOhm),R3 (MOhm),R4 (MOhm),R5 (MOhm),R6 (MOhm),R7 (MOhm),R8 (MOhm),R9 (MOhm),R10 (MOhm),R11 (MOhm),R12 (MOhm),R13 (MOhm),R14 (MOhm)
0,0.000,0.0,50.25,26.54,243.0538,0.8805,0.0643,0.1489,0.1056,0.1051,0.1093,0.1341,0.1151,0.1188,0.1062,0.1290,0.1183,0.1204,0.1087,0.1130
1,0.309,0.0,50.25,26.54,242.0039,0.8928,0.0710,0.1436,0.1059,0.1013,0.1081,0.1285,0.1166,0.1103,0.1017,0.1223,0.1139,0.1166,0.1068,0.1110
2,0.619,0.0,50.25,26.54,241.5810,0.8960,0.0762,0.1402,0.1080,0.1007,0.1100,0.1260,0.1188,0.1088,0.1009,0.1215,0.1128,0.1155,0.1067,0.1103
3,0.928,0.0,50.25,26.54,241.1596,0.8980,0.0797,0.1392,0.1112,0.1011,0.1121,0.1252,0.1209,0.1086,0.1007,0.1212,0.1121,0.1152,0.1070,0.1102
4,1.235,0.0,50.25,26.54,240.7642,0.8983,0.0822,0.1395,0.1142,0.1021,0.1143,0.1256,0.1233,0.1086,0.1004,0.1215,0.1120,0.1151,0.1072,0.1102

In [ ]:
gas_2 = gas_2.drop(['Time (s)'], axis = 1)

In [ ]:
gas_2.describe()

,CO (ppm),Humidity (%r.h.),Temperature (C),Flow rate (mL/min),Heater voltage (V),R1 (MOhm),R2 (MOhm),R3 (MOhm),R4 (MOhm),R5 (MOhm),R6 (MOhm),R7 (MOhm),R8 (MOhm),R9 (MOhm),R10 (MOhm),R11 (MOhm),R12 (MOhm),R13 (MOhm),R14 (MOhm)
count,295516.000000,295516.000000,295516.000000,295516.000000,295516.000000,295516.000000,295516.000000,295516.000000,295516.000000,295516.000000,295516.000000,295516.000000,295516.000000,295516.000000,295516.000000,295516.000000,295516.000000,295516.000000,295516.000000
mean,9.899936,45.748175,26.427412,239.942517,0.355319,15.331572,17.590540,22.473663,19.212220,31.498183,28.963481,31.945815,26.939222,22.397564,25.955787,27.755315,25.772805,22.460428,28.846370
std,6.429029,12.467841,0.103742,1.935531,0.288694,22.707987,26.811283,28.825388,15.841458,26.972763,27.343755,27.697552,19.590708,16.872951,20.847412,20.766439,18.897545,17.276121,22.350827
min,0.000000,16.390000,26.140000,0.000000,0.199000,0.032100,0.055900,0.054000,0.039200,0.048200,0.048400,0.052700,0.033000,0.029600,0.036600,0.031100,0.032700,0.033600,0.031600
25%,4.440000,36.140000,26.380000,239.895200,0.200000,0.411300,0.486500,0.592700,2.054100,1.811100,1.583200,1.897900,11.814500,8.603200,7.528300,10.529400,9.665000,7.747100,9.650100
50%,8.890000,46.650000,26.460000,239.972300,0.200000,1.751600,1.390800,4.264200,19.455000,32.815500,23.338100,31.879600,27.066700,21.872300,23.722900,27.281500,25.984400,21.420400,27.141600
75%,15.560000,55.330000,26.500000,240.045600,0.207000,26.172600,29.574900,45.840700,30.686900,51.487500,49.880200,52.707700,40.827700,34.441600,40.641600,42.369400,39.518000,34.488200,45.023900
max,20.000000,72.920000,26.620000,272.606300,0.900900,116.456800,144.618000,175.166600,80.909800,163.032400,168.449100,217.596100,99.194400,81.688300,100.030400,96.936000,129.926100,92.021700,118.874900

In [ ]:
np_gas_2 = gas_2.to_numpy()
print(np_gas_2.shape)
np.save('gas_2', np_gas_2)

(295516, 19)

### Gas sensor array under dynamic gas mixtures

https://archive.ics.uci.edu/ml/datasets/Gas+sensor+array+under+dynamic+gas+mixtures

In [ ]:
CO = pd.read_csv('ethylene_CO.txt', sep=" ", on_bad_lines='skip')

In [ ]:
for i in CO.iloc[:1,:]:
  print(i)

Time
(seconds),
CO
conc
(ppm),
Ethylene
conc.1
(ppm),.1
sensor
readings
(16
channels)
Unnamed: 12

In [ ]:
CO_clean = CO.reset_index()

In [ ]:
CO_clean = CO_clean[['Ethylene', 'conc.1', '(ppm),.1', 'sensor', 'readings', '(16', 'channels)']]

In [ ]:
CO_clean.head()

   Ethylene    conc.1  (ppm),.1    sensor  readings       (16  channels)
0  55139.95  50669.50   9626.26   9762.62  24544.02  21420.68    7650.61
1  49299.30   9324.40   9449.81  23628.90  20504.94   7369.67    6697.47
2  48907.00   9170.64   9305.58  23101.66  20101.42   7285.13    6578.52
3  51910.52  47609.00   8982.88   9021.08  22159.12  19332.57    7067.61
4  51043.22  46757.50   8776.93   8868.04  21504.46  18780.21    6900.01

In [ ]:
CO_clean = CO_clean.dropna()

In [ ]:
CO_clean

     Ethylene    conc.1  (ppm),.1    sensor  readings       (16  channels)
0    55139.95  50669.50   9626.26   9762.62  24544.02  21420.68    7650.61
1    49299.30   9324.40   9449.81  23628.90  20504.94   7369.67    6697.47
2    48907.00   9170.64   9305.58  23101.66  20101.42   7285.13    6578.52
3    51910.52  47609.00   8982.88   9021.08  22159.12  19332.57    7067.61
4    51043.22  46757.50   8776.93   8868.04  21504.46  18780.21    6900.01
..        ...       ...       ...       ...       ...       ...        ...
125   1754.13   1510.58   1584.58   1992.74   2006.80   1001.29     919.56
126   1750.08   1534.35   1580.22   1978.01   2003.99   1012.13     911.80
127   1743.34   1520.29   1551.26   1982.68   2009.15   1011.34     895.36
128   1735.94   1507.99   1560.82   1987.82   2005.39   1008.39     894.00
130   1723.62   1503.03   1540.41   1920.38   1978.71   1003.06     898.83

[128 rows x 7 columns]

### Bitcoin Heist dataset

https://archive.ics.uci.edu/ml/datasets/BitcoinHeistRansomwareAddressDataset

In [ ]:
data_path = 'bitcoin.csv'
bitcoin = pd.read_csv(data_path)

In [ ]:
bitcoin.head()

,address,year,day,length,weight,count,looped,neighbors,income,label
0,111K8kZAEnJg245r2cM6y9zgJGHZtJPy6,2017,11,18,0.008333,1,0,2,100050000.0,princetonCerber
1,1123pJv8jzeFQaCV4w644pzQJzVWay2zcA,2016,132,44,0.000244,1,0,1,100000000.0,princetonLocky
2,112536im7hy6wtKbpH1qYDWtTyMRAcA2p7,2016,246,0,1.000000,1,0,2,200000000.0,princetonCerber
3,1126eDRw2wqSkWosjTCre8cjjQW8sSeWH7,2016,322,72,0.003906,1,0,2,71200000.0,princetonCerber
4,1129TSjKtx65E35GiUo4AYVeyo48twbrGX,2016,238,144,0.072848,456,0,1,200000000.0,princetonLocky

In [ ]:
bitcoin = bitcoin.iloc[:,3:9]
bitcoin.head()

   length    weight  count  looped  neighbors       income
0      18  0.008333      1       0          2  100050000.0
1      44  0.000244      1       0          1  100000000.0
2       0  1.000000      1       0          2  200000000.0
3      72  0.003906      1       0          2   71200000.0
4     144  0.072848    456       0          1  200000000.0

In [ ]:
np_bitcoin = bitcoin.to_numpy()
print(np_bitcoin.shape)
np.save('bitcoin', np_bitcoin)

(2916697, 6)

### Individual Household power consumption

https://archive.ics.uci.edu/ml/datasets/Individual+household+electric+power+consumption

In [ ]:
power = pd.read_csv('household_power_consumption.txt', sep=";")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (2,3,4,5,6,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
power.head()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0

In [ ]:
power_clean = power.iloc[:,2:]
power_clean.head(15)

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,4.216,0.418,234.840,18.400,0.000,1.000,17.0
1,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2,5.374,0.498,233.290,23.000,0.000,2.000,17.0
3,5.388,0.502,233.740,23.000,0.000,1.000,17.0
4,3.666,0.528,235.680,15.800,0.000,1.000,17.0
5,3.520,0.522,235.020,15.000,0.000,2.000,17.0
6,3.702,0.520,235.090,15.800,0.000,1.000,17.0
7,3.700,0.520,235.220,15.800,0.000,1.000,17.0
8,3.668,0.510,233.990,15.800,0.000,1.000,17.0
9,3.662,0.510,233.860,15.800,0.000,2.000,16.0
10,4.448,0.498,232.860,19.600,0.000,1.000,17.0
11,5.412,0.470,232.780,23.200,0.000,1.000,17.0
12,5.224,0.478,232.990,22.400,0.000,1.000,16.0
13,5.268,0.398,232.910,22.600,0.000,2.000,17.0
14,4.054,0.422,235.240,17.600,0.000,1.000,17.0

In [ ]:
power_clean = power_clean.dropna()

In [ ]:
power_clean.isnull( ).sum( )

Global_active_power      0
Global_reactive_power    0
Voltage                  0
Global_intensity         0
Sub_metering_1           0
Sub_metering_2           0
Sub_metering_3           0
dtype: int64

In [ ]:
power_clean.dtypes

Global_active_power      float64
Global_reactive_power    float64
Voltage                  float64
Global_intensity         float64
Sub_metering_1           float64
Sub_metering_2           float64
Sub_metering_3           float64
dtype: object

In [ ]:
power_clean = power_clean.astype(float)

In [ ]:
power_clean.describe()

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
count,2.049280e+06,2.049280e+06,2.049280e+06,2.049280e+06,2.049280e+06,2.049280e+06,2.049280e+06
mean,1.091615e+00,1.237145e-01,2.408399e+02,4.627759e+00,1.121923e+00,1.298520e+00,6.458447e+00
std,1.057294e+00,1.127220e-01,3.239987e+00,4.444396e+00,6.153031e+00,5.822026e+00,8.437154e+00
min,7.600000e-02,0.000000e+00,2.232000e+02,2.000000e-01,0.000000e+00,0.000000e+00,0.000000e+00
25%,3.080000e-01,4.800000e-02,2.389900e+02,1.400000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,6.020000e-01,1.000000e-01,2.410100e+02,2.600000e+00,0.000000e+00,0.000000e+00,1.000000e+00
75%,1.528000e+00,1.940000e-01,2.428900e+02,6.400000e+00,0.000000e+00,1.000000e+00,1.700000e+01
max,1.112200e+01,1.390000e+00,2.541500e+02,4.840000e+01,8.800000e+01,8.000000e+01,3.100000e+01

In [ ]:
np_power = power_clean.to_numpy()
print(np_power.shape)
np.save('power', np_power)

(2049280, 7)

### Beijing Multi-Site Air-Quality

https://archive.ics.uci.edu/ml/datasets/Beijing+Multi-Site+Air-Quality+Data

In [ ]:
Aotizhongxin = pd.read_csv('Aotizhongxin.csv')

In [ ]:
Aotizhongxin.head()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,4.0,4.0,4.0,7.0,300.0,77.0,-0.7,1023.0,-18.8,0.0,NNW,4.4,Aotizhongxin
1,2,2013,3,1,1,8.0,8.0,4.0,7.0,300.0,77.0,-1.1,1023.2,-18.2,0.0,N,4.7,Aotizhongxin
2,3,2013,3,1,2,7.0,7.0,5.0,10.0,300.0,73.0,-1.1,1023.5,-18.2,0.0,NNW,5.6,Aotizhongxin
3,4,2013,3,1,3,6.0,6.0,11.0,11.0,300.0,72.0,-1.4,1024.5,-19.4,0.0,NW,3.1,Aotizhongxin
4,5,2013,3,1,4,3.0,3.0,12.0,12.0,300.0,72.0,-2.0,1025.2,-19.5,0.0,N,2.0,Aotizhongxin

In [ ]:
Aotizhongxin.describe()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
count,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,34139.000000,34346.000000,34129.000000,34041.000000,33288.000000,33345.000000,35044.000000,35044.000000,35044.000000,35044.000000,35050.000000
mean,17532.500000,2014.662560,6.522930,15.729637,11.500000,82.773611,110.060391,17.375901,59.305833,1262.945145,56.353358,13.584607,1011.846920,3.123062,0.067421,1.708496
std,10122.249256,1.177213,3.448752,8.800218,6.922285,82.135694,95.223005,22.823017,37.116200,1221.436236,57.916327,11.399097,10.404047,13.688896,0.910056,1.204071
min,1.000000,2013.000000,1.000000,1.000000,0.000000,3.000000,2.000000,0.285600,2.000000,100.000000,0.214200,-16.800000,985.900000,-35.300000,0.000000,0.000000
25%,8766.750000,2014.000000,4.000000,8.000000,5.750000,22.000000,38.000000,3.000000,30.000000,500.000000,8.000000,3.100000,1003.300000,-8.100000,0.000000,0.900000
50%,17532.500000,2015.000000,7.000000,16.000000,11.500000,58.000000,87.000000,9.000000,53.000000,900.000000,42.000000,14.500000,1011.400000,3.800000,0.000000,1.400000
75%,26298.250000,2016.000000,10.000000,23.000000,17.250000,114.000000,155.000000,21.000000,82.000000,1500.000000,82.000000,23.300000,1020.100000,15.600000,0.000000,2.200000
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,898.000000,984.000000,341.000000,290.000000,10000.000000,423.000000,40.500000,1042.000000,28.500000,72.500000,11.200000

In [ ]:
Aotizhongxin_clean = Aotizhongxin.drop(['No', 'year', 'month', 'day', 'hour', 'station', 'wd'], axis = 1)
Aotizhongxin_clean.isna().sum().sum()

7190

In [ ]:
Aotizhongxin_clean = Aotizhongxin_clean.dropna()
np_Aotizhongxin = Aotizhongxin_clean.to_numpy()
print(np_Aotizhongxin.shape)
np.save('Aotizhongxin', np_Aotizhongxin)

(31876, 11)